.saled {
    width: 100vw;
    height: 100vh;
    background: url(https://static.smartisanos.cn/mobilenew/img/bg.205d0820.png);
    position: relative;
    .nav {
        padding:10px;
        background-color: white;
    }
  
    .content {
        text-align: center;
     
    }
  }